h1 {
  text-align: center;
  color: green;
}
h3 {
  color: green;
}
ul {
  list-style-image: url('bullet_green.jpg');
}
hr {
  border-top: 3px solid green;
}




.accordion {
  display: grid;
  align-content: center;
  height: 100vh;
}
.accordion__container {
  display: grid;
  row-gap: .75rem;
  padding: 2rem 1rem;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 12px 32px rgba(51, 51, 51, 0.1);
}
.accordion__title {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: 400;
  margin-top: .15rem;
  transition: .2s;
}
.accordion__header {
  display: flex;
  column-gap: .5rem;
  padding: 1.25rem 1.25rem 1.25rem 1rem;
  cursor: pointer;
}
.accordion__description {
  padding: 0 1.25rem 1.25rem 3rem;
  font-size: var(--smaller-font-size);
}
.accordion__icon {
  font-size: 1.5rem;
  height: max-content;
  color: var(--title-color);
  transition: .3s;
}
.accordion__item {
  box-shadow: 0 2px 6px rgba(38, 38, 38, 0.1);
  background-color: var(--container-color);
  border-radius: .25rem;
  position: relative;
  transition: all .25s ease;
}
.accordion__item::after {
  content: '';
  background-color: var(--first-color);
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: .25rem 0 0 .25rem;
}
.accordion__item:nth-child(1) {
  background-color: #fff7f0;
}
.accordion__item:nth-child(1)::after {
  background-color: #ffc08a;
}
.accordion__item:nth-child(2) {
  background-color: #f0f0ff;
}
.accordion__item:nth-child(2)::after {
  background-color: #8a8aff;
}
.accordion__item:nth-child(3) {
  background-color: #fff0f3;
}
.accordion__item:nth-child(3)::after {
  background-color: #ff8aa1;
}
.accordion__item:nth-child(4) {
  background-color: #f0faff;
}
.accordion__item:nth-child(4)::after {
  background-color: #8ad8ff;
}
.accordion__content {
  overflow: hidden;
  height: 0;
  transition: all .25s ease;
}
/*Rotate icon and add font weight to titles*/
.accordion-open .accordion__icon {
  transform: rotate(45deg);
}
.accordion-open .accordion__title {
  font-weight: 600;
}
}




